@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.contacts {
  position: relative;

  &--inner {
    background-color: $background-color-secondary;
  }
}

.contacts__text {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px 56px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 565px;
    padding: 60px 80px 56px;

    background-color: $background-color-primary;
  }
}

.contacts__dealers-text {
  width: 139px;
  margin: 0;


  font-size: $font-size-extra-small;
  line-height: $line-height-small;

  text-transform: uppercase;
}

.contacts__address {
  @include text-block-small;

  width: 139px;

  line-height: $font-size-medium;

  color: $tundora;
}

.contacts__address-text {
  margin: 0;
}

.contacts__map {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
