@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__icon {
  color: $dove-gray;
}

.copyright__link {
  display: flex;
  justify-content: space-between;

  width: 100%;

  text-decoration: none;
  color: inherit;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;

    width: 200px;
  }

  &:hover .copyright__icon {
    color: $color-accent;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include text-block-small;

  font-size: $font-size-extra-small;

  display: flex;
  align-items: center;

  margin: 0;

  color: $tundora;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
