@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $galery-second-option;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    padding-top: 43px;
    padding-bottom: 62px;

    border-top: 1px solid $mercury;
    background-color: $background-color-primary;

    &::after {
      content: "";
      position: absolute;
      background-color: $galery-second-option;
      height: 462px;
      width: 100%;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;

    border-top: none;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    max-width: 1220px;
    margin: 0 auto;
  }
}

.example__info-wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 0;
  }
}

.example__text-wrapper {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  @include text-block-small;

  margin: 0;

  color: $text-color-secondary;
}

.example__stats {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.example__visual {
  @media (min-width: $desktop-width) {
    width: 591px;
    margin-top: -43px;
  }
}
