@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $galery-second-option;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  @include text-block-small;

  margin: 0;
}

.example__stats {
  margin-top: 20px;
  margin-bottom: 40px;
}
