@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.extra-catalog {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 86px;
  }
}

.extra-catalog__section-title {
  margin-top: 25px;
  margin-bottom: 36px;

  font-size: $font-size-big;
  line-height: 1;
  font-weight: $font-weight-regular;

  @media (min-width: $tablet-width) {
    font-size: $font-size-large;

    margin-top: 68px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 75px;
  }
}

.extra-catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extra-catalog__list {
  @include list-reset;

  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;

    border-left: 1px solid $silver;
    border-right: 1px solid $silver;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    margin-bottom: 0;

    border: none;
  }
}

.extra-catalog__product-card {
  padding-top: 12px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }
}
