@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.page-main__section-spacing {
  margin-bottom: 20px;

  &--big {
    margin-bottom: 40px;
  }
}

.page-main__container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}


.page-main__section-title {
  font-size: $font-size-large;
  line-height: $line-height-huge;
  font-weight: $font-weight-regular;

  @media (min-width: $tablet-width) {
    font-size: $font-size-huge;
    line-height: 1;
  }
}
