@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.page-footer__links {
  padding: 0 20px;

  background-color: $background-color-secondary;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-footer__logo-title {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 40px 0 32px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;

    width: 200px;
    padding: 63px 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 0 62px;
  }
}

.page-footer__logo-link {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright {
  padding: 22px 0;
}
