@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.page-header {
  position: relative;

  font-size: $font-size-medium;
  line-height: $line-height-small;
  font-weight: $font-weight-medium;

  padding: 10px 20px 18px;
  border-bottom: 1px solid $mercury;

  @media (min-width: $tablet-width) {
    font-size: $font-size-small;
    line-height: $line-height-medium;
    font-weight: $font-weight-regular;

    padding: 24px 30px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-medium;
    line-height: $line-height-large;

    padding: 53px 110px 0;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo-image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-title {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
