@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.product-categories__list {
  @include list-reset;

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    margin-bottom: 71px;
  }
}

.product-categories__card {
  padding: 24px 33px 18px 20px;

  background-color: $background-color-secondary;

  @media (min-width: $tablet-width) {
    position: relative;

    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 50%;
    padding: 47px 61px 55px 52px;

    &:not(:first-child) {
      margin-left: 40px;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.product-categories__header {
  display: flex;
  align-items: center;
}

.product-categories__image-wrapper {
  display: flex;

  width: 50px;
  height: 50px;
  margin-right: 19px;

  border-radius: 50%;
  background-color: $background-color-accent;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 92px;
    right: 62px;

    width: 200px;
    height: 200px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;

    width: 100px;
    height: 100px;
    margin-right: 62px;
  }
}

.product-categories__image {
  margin: auto;

  &--slim {
    margin-top: -3px;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      margin-top: -17px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      margin-top: -9px;
    }
  }

  &--pro {
    margin-left: -10px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      margin-left: -36px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      margin-left: -19px;
    }
  }
}

.product-categories__title {
  font-size: $font-size-big;
  line-height: $line-height-extra-large;
  font-weight: inherit;

  margin: 0;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size-large;
  }
}

.product-categories__description {
  @include text-block-small;

  margin: 22px 0 23px;
  color: $text-color-secondary;

  @media (min-width: $tablet-width) {
    margin: 24px 0 52px;

    color: $text-color-primary;
  }

  @media (min-width: $desktop-width) {
    margin: 39px 0 23px;
  }
}

.product-categories__footer {
  display: flex;

  padding-top: 15px;
  border-top: 1px solid $alto;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    border-top: none;
  }
}

.product-categories__link {
  display: flex;
  align-items: center;

  padding: 4px 8px 4px 0;

  line-height: $line-height-tiny;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  @media (min-width: $tablet-width) {
    font-size: $font-size-medium;
    line-height: $line-height-large;
  }

  .product-categories__login-icon {
    margin-left: 15px;

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }
  }
}
