@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.product-card {
  border-bottom: 1px solid $galery-first-option;

  @media (min-width: $tablet-width) {
    padding: 161px 37px 39px;

    background-color: $background-color-secondary;
    border-bottom: none;
  }

  &:first-child {
    border-top: 1px solid $galery-first-option;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  &--upload {
    padding-top: 25px;

    @media (min-width: $tablet-width) {
      padding-top: 50px;

      border: 2px solid $concrete;
      background-color: $background-color-primary;
    }
  }
}

.product-card__content {
  display: flex;
  justify-content: space-between;

  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    position: relative;

    flex-direction: column;

    margin-bottom: 33px;
  }

  &--upload {
    align-items: center;
    flex-direction: column;

    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 87px;
    }
  }
}

.product-card__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 191px;
    left: 0;
    right: 0;

    margin: 0 auto;
  }

  &--pro-chicken-500 {
    @media (min-width: $tablet-width) {
      width: 161px;
      height: 172px;

      .product-card__image {
        width: 161px;
        height: 172px;
      }
    }
  }

  &--pro-chicken-1000 {
    @media (min-width: $tablet-width) {
      width: 168px;
      height: 206px;

      .product-card__image {
        width: 168px;
        height: 206px;
      }
    }
  }

  &--pro-fish-500 {
    @media (min-width: $tablet-width) {
      width: 163px;
      height: 174px;

      .product-card__image {
        width: 163px;
        height: 174px;
      }
    }
  }

  &--pro-fish-1000 {
    @media (min-width: $tablet-width) {
      width: 168px;
      height: 200px;

      .product-card__image {
        width: 168px;
        height: 200px;
      }
    }
  }

  &--slim-buckwheat-500 {
    @media (min-width: $tablet-width) {
      width: 161px;
      height: 171px;

      .product-card__image {
        width: 161px;
        height: 171px;
      }
    }
  }

  &--slim-buckwheat-1000 {
    @media (min-width: $tablet-width) {
      width: 168px;
      height: 200px;

      .product-card__image {
        width: 168px;
        height: 200px;
      }
    }
  }

  &--slim-rice-500 {
    @media (min-width: $tablet-width) {
      width: 163px;
      height: 174px;

      .product-card__image {
        width: 163px;
        height: 174px;
      }
    }
  }
}

.product-card__image {
  @media (min-width: $tablet-width) {
    object-fit: contain;
  }
}

.product-card__text-wrapper {
  width: 100%;
}

.product-card__title {
  font-size: $font-size-extra-small;
  line-height: $line-height-small;
  font-weight: $font-weight-regular;

  margin: 0;
  margin-bottom: 14px;

  text-transform: uppercase;

  color: $mine-shaft;

  @media (min-width: $tablet-width) {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    text-align: center;

    margin-bottom: 21px;
  }

  &--upload {
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      line-height: 22px;

      width: 140px;
      margin-bottom: 23px;
    }
  }
}

.product-card__info {
  margin: 0;
  margin-bottom: 9px;

  font-family: $font-family-secondary;
  font-size: $font-size-extra-tiny;
  line-height: $line-height-tiny;

  color: $text-color-secondary;

  @media (min-width: $tablet-width) {
    font-size: $font-size-extra-small;

    margin-bottom: 0;
  }
}

.product-card__info-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;

    border-bottom: 1px solid $silver;
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-bottom: 7px;
    }
  }
}

.product-card__info-item {
  margin: 0;
}

.product-card__order {
  padding: 10px 0;

  line-height: $line-height-small;
}

.product-card__upload-more {
  display: block;

  padding: 0;
  margin-bottom: 23px;

  border: none;

  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }
}

.product-card__upload-icon {
  display: block;

  color: $alto-second-option;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.product-card__text {
  font-family: $font-family-secondary;
  font-size: $font-size-extra-tiny;
  line-height: $line-height-tiny;

  margin: 0;

  color: $text-color-secondary;

  @media (min-width: $tablet-width) {
    line-height: $line-height-extra-small;
    text-align: center;

    width: 170px;
  }
}

.product-card__all {
  padding: 10px 0;

  line-height: $line-height-small;

  color: $tundora;
  background-color: $background-color-secondary;
}
