@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.program-form {
  @include form-text;
}

.program-form__field-groups-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;

    margin-bottom: 70px;
  }
}

.program-form__field-group {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }

  &--cat-info {
    padding-bottom: 24px;

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }

  &--category {
    margin-bottom: 26px;
    padding-top: 22px;
    padding-bottom: 20px;

    border-top: 1px solid $alto;
    border-bottom: 1px solid $alto;

    @media (min-width: $tablet-width) {
      margin-left: 40px;
      margin-right: 36px;
      padding: 25px 28px;

      border: 1px solid $alto;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &--owner-contacts {
    padding-top: 35px;
    padding-bottom: 24px;
  }

  &--comments {
    padding-top: 38px;
    padding-bottom: 23px;
  }

  &--extra {
    padding-top: 34px;
    padding-bottom: 34px;
  }
}

.program-form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.program-form__submit {
  line-height: $line-height-small;

  margin-bottom: 21px;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.program-form__note {
  @include text-block-small;

  line-height: $line-height-tiny;

  margin: 0;

  text-transform: none;
}
