@use "abstracts/variables" as *;

.promo {
  font-weight: $font-weight-regular;
  color: $text-color-inverse;

  @media (min-width: $tablet-width) {
    color: $text-color-primary;
  }

  @media (min-width: $desktop-width) {
    z-index: 0;
    display: flex;

    margin-top: -113px;
  }
}

.promo__background {
  $background-promo-mask: transparentize($background-color-accent, 0.15);

  height: 302px;

  background-image: linear-gradient($background-promo-mask, $background-promo-mask), url("/img/images/promo-cat.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;

    order: 2;

    width: 50%;
    height: 694px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -275px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;

    margin-top: 64px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    width: 50%;
    margin-top: 0;
    padding-top: 223px;
  }
}

.promo__text {
  width: 250px;
  margin-bottom: 29px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 416px;
    margin-left: 87px;
    margin-bottom: 49px;

    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    margin-left: 80px;
  }
}

.promo__title {
  font-size: $font-size-large;
  line-height: 1;
  font-weight: inherit;

  margin: 0;
  margin-bottom: 25px;


  @media (min-width: $tablet-width) {
    font-size: $font-size-huge;

    margin-bottom: 40px;
  }
}

.promo__slogan {
  font-size: $font-size-tiny;
  line-height: 1;
  font-weight: inherit;
  text-transform: uppercase;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-medium;
  }
}

.promo__image {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    order: 4;

    margin-top: -83px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 141px;
    right: -406px;
    bottom: auto;
    left: auto;

    order: unset;

    margin-top: 0;
  }

  img {
    display: block;

    @media (min-width: $tablet-width) {
      width: 709px;
      height: 609px;
    }

    @media (min-width: $desktop-width) {
      width: 552px;
      height: 499px;
    }
  }


}

.promo__link {
  padding: 11px 0;
  font-size: $font-size-tiny;
  font-weight: $font-weight-regular;

  @media (min-width: $tablet-width) {
    z-index: 1;

    font-size: $font-size-medium;
    line-height: $line-height-big;

    width: 244px;
    margin-left: 87px;
    padding: 14px 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
