@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.promo-banner {
  $background-promo-mask: transparentize($background-color-accent, 0.15);
  display: flex;
  align-items: center;
  flex-direction: column;


  height: 290px;
  padding: 59px 0 43px;

  background-image: linear-gradient($background-promo-mask, $background-promo-mask), url("/img/images/promo-banner-cat.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 200px;
    padding: 57px 124px 69px 77px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;

    width: 245px;
    height: auto;

    padding: 56px 0 42px;
  }
}

.promo-banner__icon {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.promo-banner__text {
  width: 161px;
  margin: 0;

  font-family: $font-family-secondary;
  font-size: $font-size-extra-small;
  line-height: $line-height-small;
  text-align: center;

  color: $text-color-inverse;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
