@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.social {
  padding: 20px 0;
  border-top: 1px solid $alto;
  border-bottom: 1px solid $alto;
}

.social__list {
  @include list-reset;
}
