@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.social {

  display: flex;
  width: 100%;
  padding: 20px 0 21px;

  border-top: 1px solid $alto;
  border-bottom: 1px solid $alto;

  @media (min-width: $tablet-width) {
    width: 240px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.social__list {
  @include list-reset;

  display: flex;

  margin: auto;

  .social__item + .social__item {
    margin-left: 24px;
  }
}

.social__link {
  color: $dove-gray;

  &:hover .social__icon {
    color: $color-accent;
  }

  &:active {
    opacity: 0.4;
  }
}
