@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

.stats__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;

  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
    grid-column-gap: 42px;

    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.stats__item {
  height: 56px;
  padding-top: 14px;
  text-align: center;

  border: 1px solid $silver;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    height: 72px;
  }
}

.stats__wrapper {
  margin-bottom: -14px;
}

.stats__number {
  font-size: 24px;
  line-height: 24px;

  margin-bottom: 9px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: $line-height-extra-large;

    margin-bottom: 11px;
  }
}


.stats__description {
  font-family: $font-family-secondary;
  font-size: $font-size-extra-tiny;
  line-height: 1;

  width: 70%;
  margin: 0 auto;
  padding: 0 4px;

  color: $text-color-secondary;
  background-color: $galery-second-option;

  @media (min-width: $tablet-width) {
    font-size: $font-size-tiny;

    width: max-content;
    padding: 0 8px;
    margin: 0 auto;

    background-color: $background-color-primary;
  }

  @media (min-width: $desktop-width) {
    background-color: $galery-second-option;
  }
}

.stats__price {
  font-size: $font-size-tiny;
  line-height: $line-height-small;

  margin: 0;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size-medium;
    line-height: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: 9px;

    * + * {
      margin-top: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;

    margin-top: 0;

    * + * {
      margin-top: 0;
      margin-left: 63px;
    }
  }
}
