// breakpoints
$mobile-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;


// colors
$black: #000000;
$cod-gray: #111111;
$mine-shaft: #222222;
$white: #ffffff;
$tundora: #444444;
$apple: #68b738;
$mercury: #e6e6e6;
$mercury-second-option: #e7e7e7;
$concrete: #f2f2f2;
$alto: #d9d9d9;
$alto-second-option: #d3d3d3;
$alto-third-option: #dcdcdc;
$galery-first-option: #ebebeb;
$galery-second-option:  #eaeaea;
$silver: #cdcdcd;
$silver-second-option: #bababa;
$vivid-tangerine: #ff8282;
$scarpa-flow: #4e4c52;

$background-color-primary: $white;
$background-color-secondary: $concrete;
$background-color-accent: $apple;

$text-color-primary: $black;
$text-color-secondary: $tundora;
$text-color-inverse: $white;

$color-accent: $apple;
$color-inverse: $white;
$color-error: $vivid-tangerine;

// fonts
$font-family-primary: "Oswald", "Arial", sans-serif;
$font-family-secondary: "Arial", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;

$font-size-huge: 60px;
$font-size-large: 36px;
$font-size-big: 24px;
$font-size-medium: 20px;
$font-size-small: 18px;
$font-size-extra-small: 16px;
$font-size-tiny: 14px;
$font-size-extra-tiny: 12px;

$line-height-giant: 60px;
$line-height-huge: 40px;
$line-height-extra-large: 36px;
$line-height-large: 30px;
$line-height-big: 26px;
$line-height-medium: 24px;
$line-height-small: 20px;
$line-height-extra-small: 18px;
$line-height-tiny: 16px;
$line-height-extra-tiny: 14px;
$line-height-super-tiny: 12px;
